<!-- Placeholder Heading Content Start -->
<div
  *ngIf="!course && isFetchingCourse(); else courseInfo"
  class="w-100 pt-3 bg-dark pb-0"
>
  <div class="container-fluid custom row row-cols-1 row-cols-lg-2">
    <!-- Course Image -->

    <div class="col-lg-4">
      <img
        src="../../../assets/images/placeholder/placeholder1.png"
        alt="placeholder image"
        class="img-fluid mb-3 rounded-3"
      />
    </div>

    <div class="col-lg-8 placeholder-glow">
      <div class="d-flex flex-column align-items-start mb-3 text-light">
        <!-- Course Details -->

        <h2 class="fw-bold placeholder col-lg-8"></h2>
        <p class="placeholder col-12"></p>

        <p class="placeholder col-8"></p>
        <p class="placeholder col-4"></p>
        <p class="placeholder col-2"></p>

        <a href="" class="btn custom text-light placeholder col-4"></a>
      </div>
    </div>
  </div>
</div>
<!-- Placeholder Heading Content End -->

<!-- Course Information Heading Start -->
<ng-template #courseInfo>
  <div class="w-100 bg-dark pt-3 pb-0">
    <div class="container-fluid custom row row-cols-1 row-cols-lg-2">
      <!-- Course Image -->

      <div class="col-lg-5">
        <img
          [src]="
            course.imageUrl
              ? course.imageUrl
              : 'https://placehold.co/600x400?text=' + course.title[0]
          "
          [alt]="course.title + 'course image'"
          class="img-fluid mb-3 w-100"
        />
      </div>

      <div class="col-lg-7">
        <div class="d-flex flex-column align-items-start mb-3 text-light">
          <!-- Course Details -->

          <h2 class="display-4 fw-bold mb-0">{{ course.title }}</h2>

          <p class="mb-0">{{ course.shortDescription }}</p>

          <div class="d-flex justify-content-start align-items-center mb-n3">
            <p class="course-rating fs-5">{{ course.rating }}</p>
            <!-- Move the stars a bit to the left if the course does have have any reviews -->
            <star-rating
              [ngClass]="{ 'course-stars-left': course.reviews.length == 0 }"
              class="title-star-rating"
              [readOnly]="true"
              [starType]="'svg'"
              [size]="'medium'"
              [rating]="course.rating"
              [showHalfStars]="true"
            ></star-rating>

            <p>({{ course.reviews.length }})</p>
          </div>

          <p class="fs-4">
            {{ course.price | currency : "ZAR" : "R" }}
          </p>

          <div class="d-flex flex-column justify-content-evenly flex-lg-row">
            <a href="" class="btn custom text-light me-2 mb-2"
              >Book course now</a
            >
            <a
              *ngIf="isAdmin()"
              (click)="updateCourse(course['_id'])"
              class="btn btn-primary me-2 mb-2"
              >Edit</a
            >
            <a
              *ngIf="isAdmin()"
              (click)="openModal(course['_id'], course.imageUrl)"
              class="btn btn-danger mb-2"
              >Delete</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<!-- Course Information Heading End -->

<!-- Course Description Placeholder Start -->

<div
  *ngIf="!course && isFetchingCourse(); else courseDescription"
  class="container-fluid custom mt-5 px-4"
>
  <div class="mb-3 placeholder-wave">
    <p class="h2 placeholder col-lg-4"></p>
    <p class="placeholder col-12"></p>
    <p class="placeholder col-12"></p>
    <p class="placeholder col-12"></p>
    <p class="placeholder col-6"></p>
  </div>
  <hr />
  <div class="mb-3 placeholder-wave">
    <p class="h2 placeholder col-lg-4"></p>
    <p class="placeholder col-9"></p>
  </div>

  <div
    class="d-flex justify-content-start justify-content-lg-end mb-5 placeholder-wave"
  >
    <a class="btn custom placeholder col-2"></a>
  </div>
</div>
<!-- Course Description Placeholder End -->

<ng-template #courseDescription>
  <div class="container-fluid custom mt-5 px-4">
    <!-- Course Description Start -->

    <div class="mb-3">
      <p class="h2">Course Overview</p>
      <!-- Course fullDescription is HTML form -->
      <div [innerHTML]="course.fullDescription" class=""></div>
    </div>
    <hr />
    <div class="review-headline mt-3">
      <h3 class="">Reviews</h3>
      <div class="d-flex justify-content-start mt-n2 mb-2 align-items-center">
        <p class="text-dark fw-bold course-rating fs-1">{{ course.rating }}</p>

        <div
          class="d-flex flex-column align-items-start justify-content-start ms-2"
        >
          <star-rating
            class="ms-n2"
            [readOnly]="true"
            [starType]="'svg'"
            [size]="'medium'"
            [rating]="course.rating"
            [showHalfStars]="true"
          ></star-rating>

          <!-- If there is only one review -->
          <p *ngIf="reviewCount() == 1; else elseBlock">
            {{ reviewCount() }} Review
          </p>
          <!-- If there is more than one review-->
          <ng-template #elseBlock>
            <p>{{ reviewCount() }} Reviews</p>
          </ng-template>
        </div>
      </div>
    </div>
    <!-- Course Description End -->

    <div class="d-flex justify-content-start justify-content-lg-end mb-5">
      <a routerLink="reviews/new" fragment="reviewForm" class="btn btn-primary"
        >Write review</a
      >
    </div>

    <!-- Review edit or new form -->
    <router-outlet id="reviewForm"></router-outlet>
    <!-- Reviews for the course -->
    <app-reviews id="reviews"></app-reviews>
  </div>
</ng-template>
