<div class="container mt-5">
  <div class="row">
    <!-- Course Image -->

    <div class="col-lg-6">
      <img
        [src]="course.imageUrl"
        [alt]="course.title + 'course image'"
        class="img-fluid mb-3 rounded w-100"
      />
    </div>

    <div class="col-lg-6 d-flex flex-column align-items-start mb-3">
      <!-- Course Details -->

      <h2 class="display-4 fw-bold">{{ course.title }}</h2>

      <p class="fs-2">Category</p>

      <p class="fs-4">
        {{ course.price | currency : "ZAR" : "R" }}
      </p>
      <p>Rating: 5 stars</p>

      <a href="" class="btn btn-dark">Book course now</a>

      <div *ngIf="isAdmin()" class="d-flex mt-4">
        <a (click)="updateCourse(course['_id'])" class="btn btn-primary me-2"
          >Edit</a
        >

        <a (click)="deleteCourse(course['_id'])" class="btn btn-danger"
          >Delete</a
        >
      </div>
    </div>
  </div>

  <!-- Description -->
  <div class="mb-3">
    <p class="h2">Course Overview</p>
    <p class="">{{ course.description }}</p>
  </div>
  <hr />
  <div class="review-headline mt-3">
    <h3 class="">Reviews</h3>
    <p *ngIf="reviewCount() == 1; else elseBlock">{{ reviewCount() }} Review</p>
    <ng-template #elseBlock>{{ reviewCount() }} Reviews</ng-template>
  </div>

  <div class="d-flex justify-content-end">
    <a routerLink="reviews/new" fragment="reviewForm" class="btn btn-primary"
      >Add new</a
    >
  </div>

  <!-- Review edit or new form -->
  <router-outlet id="reviewForm"></router-outlet>
  <!-- Reviews for the course -->
  <app-reviews id="reviews"></app-reviews>
</div>
