<div class="container-fluid custom text-center mt-5">
  <div>
    <p><i class="far fa-envelope fa-5x email-icon"></i></p>
    <h2 class="fw-bold">Verify your email address</h2>
    <p>
      We've sent a verification link to your email address. Please click the
      link to complete the verification process.
    </p>

    <div class="">
      <button
        *ngIf="!isSendingEmailSignal(); else sendingLoader"
        (click)="resendVerificationEmail()"
        class="btn custom text-light"
      >
        Resend Email
      </button>

      <!-- Loading button -->
      <ng-template #sendingLoader>
        <button class="btn custom text-light" type="button" disabled>
          <span
            class="spinner-border spinner-border-sm"
            role="status"
            aria-hidden="true"
          ></span>
          Sending email...
        </button>
      </ng-template>
    </div>
  </div>
</div>
