<div class="container-fluid custom mt-5">
  <p class="heading-line rounded"></p>
  <p class="display-6 text-dark text-uppercase">FREQUENTLY ASKED QUESTIONS</p>
  <div *ngIf="isAdmin()" class="d-flex justify-content-end my-3">
    <a class="btn custom text-light" (click)="addItem()">Add</a>
  </div>
  <mdb-accordion [borderless]="false">
    <mdb-accordion-item *ngFor="let item of faqList()">
      <ng-template mdbAccordionItemHeader>
        <div class="d-flex justify-content-start align-items-center">
          <p>{{ item.question }}</p>
          <p *ngIf="isAdmin()" class="ms-3">
            <i
              (click)="editItem(item['_id'])"
              class="fas fa-pen fa me-3 action-icon"
            ></i>
            <i
              (click)="deleteItem(item['_id'])"
              class="fas fa-trash fa ms-3 action-icon"
            ></i>
          </p>
        </div>
      </ng-template>
      <ng-template mdbAccordionItemBody>
        {{ item.answer }}
      </ng-template>
    </mdb-accordion-item>
  </mdb-accordion>
</div>
