<mdb-carousel [controls]="true" [indicators]="true">
  <mdb-carousel-item>
    <!-- Card -->
    <div class="card border border-primary">
      <div class="card-header bg-white py-3">
        <p class="text-uppercase small mb-2"><strong>Essential</strong></p>
        <h5 class="mb-0">$19/month</h5>
      </div>

      <div class="card-body">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Feature</li>
          <li class="list-group-item">Feature</li>
          <li class="list-group-item">Feature</li>
          <li class="list-group-item">Feature</li>
        </ul>
      </div>

      <div class="card-footer bg-white py-3">
        <button type="button" class="btn btn-primary btn-sm">Buy now</button>
      </div>
    </div>
    <!-- Card -->
  </mdb-carousel-item>
  <mdb-carousel-item>
    <!-- Card -->
    <div class="card border border-primary">
      <div class="card-header bg-white py-3">
        <p class="text-uppercase small mb-2"><strong>Essential</strong></p>
        <h5 class="mb-0">$19/month</h5>
      </div>

      <div class="card-body">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Feature</li>
          <li class="list-group-item">Feature</li>
          <li class="list-group-item">Feature</li>
          <li class="list-group-item">Feature</li>
        </ul>
      </div>

      <div class="card-footer bg-white py-3">
        <button type="button" class="btn btn-primary btn-sm">Buy now</button>
      </div>
    </div>
    <!-- Card -->
  </mdb-carousel-item>
  <mdb-carousel-item>
    <!-- Card -->
    <div class="card border border-primary">
      <div class="card-header bg-white py-3">
        <p class="text-uppercase small mb-2"><strong>Essential</strong></p>
        <h5 class="mb-0">$19/month</h5>
      </div>

      <div class="card-body">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Feature</li>
          <li class="list-group-item">Feature</li>
          <li class="list-group-item">Feature</li>
          <li class="list-group-item">Feature</li>
        </ul>
      </div>

      <div class="card-footer bg-white py-3">
        <button type="button" class="btn btn-primary btn-sm">Buy now</button>
      </div>
    </div>
    <!-- Card -->
  </mdb-carousel-item>
</mdb-carousel>

<div class="container-fluid custom mt-5">
  <p class="heading-line rounded"></p>
  <p class="fs-4 text-dark text-uppercase">FREQUENTLY ASKED QUESTIONS</p>
  <div *ngIf="isAdmin() || false" class="d-flex justify-content-end my-3">
    <a class="btn custom text-light" (click)="addItem()">Add</a>
  </div>
  <mdb-accordion [borderless]="false">
    <mdb-accordion-item *ngFor="let item of faqList()">
      <ng-template mdbAccordionItemHeader>
        <div class="d-flex justify-content-start align-items-center">
          <p>{{ item.question }}</p>
          <p *ngIf="isAdmin()" class="ms-3">
            <i
              (click)="editItem(item['_id'])"
              class="fas fa-pen fa me-3 action-icon"
            ></i>
            <i
              (click)="deleteItem(item['_id'])"
              class="fas fa-trash fa ms-3 action-icon"
            ></i>
          </p>
        </div>
      </ng-template>
      <ng-template mdbAccordionItemBody>
        {{ item.answer }}
      </ng-template>
    </mdb-accordion-item>
  </mdb-accordion>
</div>
