@import "../../../sass/variables";
.container-fluid {
  width: 90%;
}
.heading-line {
  border: 2px solid $primary-color;
  width: 2rem;
  margin-bottom: 0rem;
}

.card {
  border-radius: 0;
}
.card-img-top {
  border-radius: 0;
}
