@import "./_variables";

.form-control,
.form-select,
.btn {
  border-radius: 0px;
}
.form-control:focus,
.form-select:focus {
  box-shadow: none;
}
.form-control.is-invalid:focus,
.form-select.is-invalid:focus {
  box-shadow: none;
}
.btn {
  text-transform: none;
  font-size: 1rem;
}
.btn-primary {
  background-color: $secondary-color;
  transition: all 0.3s ease-out;
}

.btn-primary:hover {
  background-color: $primary-color;
}
