<!-- Toggle arrow for small screens start -->
<div class="top-header container-fluid d-flex justify-content-center d-lg-none">
  <button
    class="btn shadow-none text-light"
    (click)="basicCollapse.toggle()"
    [attr.aria-expanded]="!basicCollapse.collapsed"
    aria-controls="collapseExample"
  >
    <i class="fas fa-angle-down fa-2x"></i>
  </button>
</div>
<!--Top small header-->
<div
  class="d-lg-none"
  id="collapseExample"
  mdbCollapse
  #basicCollapse="mdbCollapse"
>
  <div
    class="top-header container-fluid py-1 px-3 px-lg-5 flex-column flex-lg-row d-flex justify-content-between align-items-start align-items-lg-center"
  >
    <div
      class="flex-column flex-lg-row d-flex justify-content-between align-items-start align-items-lg-center mt-n2"
    >
      <span>
        <i class="icon fas fa-map-marker-alt"></i>
        <span class="text-light ms-2">379 Hudson St, Cape Town</span></span
      >

      <span class="ms-lg-3"
        ><i class="icon far fa-clock"></i>
        <span class="text-light ms-2">09:30 am - 06:00 pm</span></span
      >
    </div>
    <div
      class="flex-column flex-lg-row d-flex justify-content-between align-items-start align-items-lg-center"
    >
      <span
        ><i class="icon fas fa-phone"></i>
        <span class="text-light ms-2">+27 81 589 6615</span></span
      >
      <span
        ><i class="icon far fa-envelope ms-lg-3"></i>
        <span class="text-light ms-2">loyd@example.com</span></span
      >

      <div
        class="mt-1 mt-lg-0 ms-lg-4 d-flex justify-content-evenly align-items-center"
      >
        <!-- Facebook -->
        <a
          mdbRipple
          class="btn btn-outline-light btn-floating m-1"
          href="#!"
          role="button"
          ><i class="fab fa-facebook-f"></i
        ></a>

        <!-- Instagram -->
        <a
          mdbRipple
          class="btn btn-outline-light btn-floating m-1"
          href="#!"
          role="button"
          ><i class="fab fa-instagram"></i
        ></a>

        <!-- Linkedin -->
        <a
          mdbRipple
          class="btn btn-outline-light btn-floating m-1"
          href="#!"
          role="button"
          ><i class="fab fa-linkedin-in"></i
        ></a>
      </div>
    </div>
  </div>
</div>
<!--Top small header-->

<!-- Toggle arrow for small screens end -->
<header>
  <!--TOP SMALL HEADER-->
  <div
    class="top-header d-none container-fluid py-1 px-3 px-lg-5 d-lg-flex flex-lg-row d-flex justify-content-between align-items-start align-items-lg-center"
  >
    <div
      class="flex-column flex-lg-row d-flex justify-content-between align-items-start align-items-lg-center"
    >
      <span>
        <i class="icon fas fa-map-marker-alt"></i>
        <span class="text-light ms-2">379 Hudson St, Cape Town</span></span
      >

      <span class="ms-lg-3"
        ><i class="icon far fa-clock"></i>
        <span class="text-light ms-2">09:30 am - 06:00 pm</span></span
      >
    </div>
    <div
      class="flex-column flex-lg-row d-flex justify-content-between align-items-start align-items-lg-center"
    >
      <span
        ><i class="icon fas fa-phone"></i>
        <span class="text-light ms-2">+27 78 332 1679</span></span
      >
      <span
        ><i class="icon far fa-envelope ms-lg-3"></i>
        <span class="text-light ms-2">loyd@example.com</span></span
      >

      <div
        class="mt-1 mt-lg-0 ms-lg-4 d-flex justify-content-evenly align-items-center"
      >
        <!-- Facebook -->
        <a
          mdbRipple
          class="btn btn-outline-light btn-floating m-1"
          href="#!"
          role="button"
          ><i class="fab fa-facebook-f"></i
        ></a>

        <!-- Instagram -->
        <a
          mdbRipple
          class="btn btn-outline-light btn-floating m-1"
          href="#!"
          role="button"
          ><i class="fab fa-instagram"></i
        ></a>

        <!-- Linkedin -->
        <a
          mdbRipple
          class="btn btn-outline-light btn-floating m-1"
          href="#!"
          role="button"
          ><i class="fab fa-linkedin-in"></i
        ></a>
      </div>
    </div>
    <!-- <div
      class="row text-nowrap justify-content-lg-end align-items-lg-center pt-lg-2 text-light fs-6"
    >
      <p class="col-lg-auto d-flex">
        <span class="material-icons pe-1 text-danger"> phone </span> +27 123
        6889
      </p>
      <p class="col-lg-auto d-flex">
        <span class="material-icons pe-1 text-danger"> place </span> 8th floor
        379 Hudson St Cape Town
      </p>
      <p class="col-lg-auto d-flex">
        <span class="material-icons pe-1 text-danger"> schedule </span> 09:30 am
        – 06:00 pm
      </p>
    </div> -->
  </div>
  <!--TOP SMALL HEADER END-->
  <!-- Small Screen Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light d-lg-none">
    <!-- Container wrapper -->
    <div class="container-fluid">
      <!-- Navbar brand -->
      <a class="navbar-brand me-2" routerLink="/">
        <img
          src="https://logos.textgiraffe.com/logos/logo-name/Loyd-designstyle-kiddo-m.png"
          height="40"
          alt=""
          loading="lazy"
          style="margin-top: -1px"
        />
      </a>

      <!-- Toggle button -->
      <button
        id="nav-icon3"
        [ngClass]="{ open: isOpen }"
        class="navbar-toggler"
        type="button"
        (click)="isOpen = !isOpen"
        (click)="buttonsNav.toggle()"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </button>

      <!-- Collapsible wrapper -->
      <div
        class="collapse navbar-collapse"
        id="navbarButtonsExample"
        mdbCollapse
        #buttonsNav="mdbCollapse"
      >
        <!-- Left links -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a
              (click)="isOpen = !isOpen"
              (click)="buttonsNav.toggle()"
              class="nav-link px-2 text-dark"
              routerLink="home"
              routerLinkActive="active-link"
              >Home</a
            >
          </li>
          <li class="nav-item">
            <a
              (click)="isOpen = !isOpen"
              (click)="buttonsNav.toggle()"
              class="nav-link px-2 text-dark"
              aria-current="page"
              routerLinkActive="active-link"
              routerLink="courses"
              >Courses</a
            >
          </li>
          <li class="nav-item">
            <a
              (click)="isOpen = !isOpen"
              (click)="buttonsNav.toggle()"
              class="nav-link px-2 text-dark"
              routerLinkActive="active-link"
              routerLink="gallery"
              >Gallery</a
            >
          </li>
          <li class="nav-item">
            <a
              (click)="isOpen = !isOpen"
              (click)="buttonsNav.toggle()"
              class="nav-link px-2 text-dark"
              routerLinkActive="active-link"
              routerLink="contact"
              >Contact Us</a
            >
          </li>
        </ul>
        <!-- Left links -->

        <div class="d-flex justify-content-start align-items-center">
          <div>
            <a
              (click)="isOpen = !isOpen"
              (click)="buttonsNav.toggle()"
              *ngIf="!isAuthenticated(); else elseBlock"
              routerLink="login"
              class="btn btn-link px-3 me-2"
              >Login</a
            >
            <ng-template #elseBlock>
              <div mdbDropdown class="dropdown">
                <a
                  class="btn btn-link dropdown-toggle text-dark"
                  type="button"
                  id="dropdownMenuButton"
                  aria-expanded="false"
                  mdbDropdownToggle
                >
                  <i class="fas fa-user-alt"></i
                  ><span class="ms-2">Account</span>
                </a>
                <ul
                  mdbDropdownMenu
                  class="dropdown-menu"
                  aria-labelledby="dropdownMenuButton"
                >
                  <li>
                    <a
                      (click)="isOpen = !isOpen"
                      (click)="buttonsNav.toggle()"
                      class="dropdown-item"
                      [routerLink]="'/account/' + user()['_id']"
                      >Account</a
                    >
                  </li>
                  <li>
                    <a
                      (click)="isOpen = !isOpen"
                      (click)="buttonsNav.toggle()"
                      (click)="logout()"
                      class="dropdown-item"
                      >Logout</a
                    >
                  </li>
                </ul>
              </div>
            </ng-template>
          </div>
          <a
            (click)="isOpen = !isOpen"
            (click)="buttonsNav.toggle()"
            routerLink="booking"
            type="button"
            class="btn custom text-light px-3 me-2 booking-btn"
          >
            Book Now
          </a>
        </div>
      </div>
      <!-- Collapsible wrapper -->
    </div>
    <!-- Container wrapper -->
  </nav>
  <!-- Small Screen Navbar -->

  <!-- Large Screen Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light d-none d-lg-block">
    <!-- Container wrapper -->
    <div class="container-fluid">
      <!-- Navbar brand -->
      <a class="navbar-brand me-2" routerLink="/">
        <img
          src="https://logos.textgiraffe.com/logos/logo-name/Loyd-designstyle-kiddo-m.png"
          height="40"
          alt=""
          loading="lazy"
          style="margin-top: -1px"
        />
      </a>

      <!-- Toggle button -->
      <button
        id="nav-icon2"
        [ngClass]="{ open: isOpen }"
        class="navbar-toggler"
        type="button"
        (click)="isOpen = !isOpen"
        (click)="buttonsNav.toggle()"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </button>

      <!-- Collapsible wrapper -->
      <div
        class="collapse navbar-collapse"
        id="navbarButtonsExample"
        mdbCollapse
        #buttonsNav="mdbCollapse"
      >
        <!-- Left links -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a
              class="nav-link px-2 text-dark"
              routerLink="home"
              routerLinkActive="active-link"
              >Home</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link px-2 text-dark"
              aria-current="page"
              routerLinkActive="active-link"
              routerLink="courses"
              >Courses</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link px-2 text-dark"
              routerLinkActive="active-link"
              routerLink="gallery"
              >Gallery</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link px-2 text-dark"
              routerLinkActive="active-link"
              routerLink="contact"
              >Contact Us</a
            >
          </li>
        </ul>
        <!-- Left links -->

        <div class="d-flex justify-content-start align-items-center">
          <div>
            <a
              *ngIf="!isAuthenticated(); else elseBlock"
              routerLink="login"
              class="btn btn-link px-3 me-2"
              >Login</a
            >
            <ng-template #elseBlock>
              <div mdbDropdown class="dropdown">
                <a
                  class="btn btn-link dropdown-toggle text-dark"
                  type="button"
                  id="dropdownMenuButton"
                  aria-expanded="false"
                  mdbDropdownToggle
                >
                  <i class="fas fa-user-alt"></i
                  ><span class="ms-2">Account</span>
                </a>
                <ul
                  mdbDropdownMenu
                  class="dropdown-menu"
                  aria-labelledby="dropdownMenuButton"
                >
                  <li>
                    <a
                      class="dropdown-item"
                      [routerLink]="'/account/' + user()['_id']"
                      >Account</a
                    >
                  </li>
                  <li>
                    <a (click)="logout()" class="dropdown-item">Logout</a>
                  </li>
                </ul>
              </div>
            </ng-template>
          </div>
          <a
            routerLink="booking"
            type="button"
            class="btn custom text-light px-3 me-2 booking-btn"
          >
            Book Now
          </a>
        </div>
      </div>
      <!-- Collapsible wrapper -->
    </div>
    <!-- Container wrapper -->
  </nav>
  <!--Large Screen Navbar -->
</header>
