<div class="container-fluid custom mt-5">
  <p class="heading-line rounded"></p>
  <p class="display-5 text-dark text-uppercase">
    Contact <span class="colored-text">Us</span>
  </p>
  <p>
    Your inquiries matter to us, and we're here to assist you. Feel free to
    reach out with any questions or concerns you may have. We strive to provide
    prompt responses, typically within 24 hours on business days.
  </p>
  <div class="row row-cols-1 row-cols-md-2">
    <div class="col-md-8">
      <app-contact-us-item></app-contact-us-item>
    </div>

    <div class="col-md-4 d-flex align-items-center">
      <img src="" alt="" class="img-fluid" />
    </div>
  </div>
</div>
