<!-- Search for course -->
<div class="row mt-5">
  <div class="col-md-8 mb-3 mb-md-0">
    <div class="input-group input-group-lg">
      <!-- <mdb-form-control class="rounded">
        <input
          mdbInput
          id="formControlLg"
          (keyup.enter)="onEnter($event)"
          type="search"
          class="form-control rounded form-control-lg"
          aria-label="Search"
          aria-describedby="search-addon"
        />
        <label mdbLabel class="form-label" for="formControlLg">Search</label>
      </mdb-form-control> -->

      <input
        (keyup.enter)="onEnter()"
        type="search"
        class="form-control rounded"
        placeholder="Search"
        aria-label="Search"
        aria-describedby="search-addon"
        [(ngModel)]="search"
      />
      <button (click)="onEnter()" type="button" class="btn btn-primary">
        <span
          *ngIf="displaySearchLoader(); else searchIcon"
          class="spinner-border spinner-border-sm"
          role="status"
          aria-hidden="true"
        ></span>
        <ng-template #searchIcon>
          <i class="fas fa-search"></i>
        </ng-template>
      </button>
    </div>
    <!-- Loader -->
    <!-- <div class="text-start mt-2">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div> -->
  </div>

  <!-- Sort By -->
  <div class="col-md-4">
    <select
      (change)="sortBy()"
      [(ngModel)]="sortingField"
      class="form-select form-select-lg rounded"
      aria-label=".form-select-lg example"
    >
      <option selected hidden>Sort By</option>
      <option value="reviews">Most Reviewed</option>
      <option value="rating">Highest Rated</option>
      <option value="title">Name</option>
    </select>
  </div>
</div>

<!-- Number of searched search results -->
<p
  class="text-start position-absolute fw-bold"
  *ngIf="displayNumSearchResults()"
>
  {{ courses().length }}
  <span *ngIf="courses().length == 1; else elseBlock">Result</span>
  <ng-template #elseBlock>Results</ng-template>
</p>
