<!-- Search for course -->
<div class="row mt-5">
  <div class="col-md-8 mb-3 mb-md-0">
    <mdb-form-control class="rounded">
      <input
        mdbInput
        id="formControlLg"
        (keyup.enter)="onEnter($event)"
        type="search"
        class="form-control rounded form-control-lg"
        aria-label="Search"
        aria-describedby="search-addon"
      />
      <label mdbLabel class="form-label" for="formControlLg">Search</label>
      <!-- <span class="input-group-text border-0" id="search-addon">
          <i class="fas fa-search"></i>
        </span> -->
    </mdb-form-control>
  </div>

  <!-- Sort By -->
  <div class="col-md-4">
    <select
      (change)="sortBy()"
      [(ngModel)]="sortingField"
      class="form-select form-select-lg rounded"
      aria-label=".form-select-lg example"
    >
      <option selected hidden>Sort By</option>
      <option value="reviews">Most Reviewed</option>
      <option value="rating">Highest Rated</option>
      <option value="title">Name</option>
    </select>
  </div>
</div>

<!-- Number of searched search results -->
<p
  class="text-start position-absolute fw-bold"
  *ngIf="displayNumSearchResults()"
>
  {{ courses().length }}
  <span *ngIf="courses().length == 1; else elseBlock">Result</span>
  <ng-template #elseBlock>Results</ng-template>
</p>
