<!-- Pagination information Start -->
<div class="d-flex justify-content-between flex-wrap">
  <p [innerHTML]="metaData().printPaginationInfo('Reviews')"></p>
  <pagination-controls
    class="text-start pagination-controls"
    [maxSize]="maxSize"
    (pageChange)="pageChanged($event)"
  ></pagination-controls>
</div>
<!-- Pagination information End-->
<app-review-item
  *ngFor="
    let review of reviews()
      | paginate
        : {
            itemsPerPage: metaData().pageSize,
            currentPage: metaData().currentPage,
            totalItems: metaData().totalItems
          }
  "
  [review-details]="review"
></app-review-item>

<!-- Bottom pagination controls start-->
<div class="d-flex justify-content-start mt-3">
  <pagination-controls
    class="pagination-controls bottom-pagination-controls"
    [maxSize]="maxSize"
    (pageChange)="pageChanged($event)"
  ></pagination-controls>
</div>
<!-- Bottom pagination controls end-->
