@import "../../../../sass/variables";

.pagination-controls ::ng-deep .current {
  background: $primary-color;
  border-radius: 50%;
  text-align: center;
  width: 2rem;
  height: 2rem;
  transition: all 0.2s ease-in-out;
}
.bottom-pagination-controls {
  margin-left: -2.5rem;
}

@media (max-width: 767px) {
  .top-pagination-controls {
    margin-left: -2.5rem;
  }
}
