<div class="border rounded-top px-0 my-2 px-4 py-3">
  <form [formGroup]="commentFormGroup">
    <div class="mb-3">
      <label for="comment-content">Comment:</label>
      <textarea
        [ngClass]="{
          'invalid-input': commentFormGroup.get('content')?.value == ''
        }"
        class="form-control"
        rows="3"
        formControlName="content"
        id="comment-content"
      ></textarea>
    </div>

    <div *ngIf="commentFormGroup.invalid">
      <p class="alert alert-danger text-start">
        The comment field is required.
      </p>
    </div>

    <div class="d-flex justify-content-start">
      <a
        (click)="submitForm($event)"
        [ngClass]="{ disabled: commentFormGroup.invalid }"
        class="btn btn-outline-success btn-sm d-flex justify-content-center align-items-center px-3"
        href=""
        >Save</a
      >
      <a
        (click)="onCancel($event)"
        class="btn btn-outline-primary btn-sm d-flex justify-content-center align-items-center ms-2 px-3"
        href=""
        >Cancel</a
      >
    </div>
  </form>
</div>
