.link-secondary {
  text-decoration: none; /* Remove underline by default */
  transition: color 0.3s;
  cursor: pointer;
}

.link-secondary:hover {
  color: #007bff !important; /* Apply a blueish color on hover */
}
.reviewer-image {
  background-size: cover !important; /* Maintain the aspect ratio of the background image */
  object-fit: cover !important;
}
.small-screen {
  object-fit: cover;
}
