<!-- For small screens start -->
<div class="card d-lg-none mb-4">
  <div class="card-body">
    <div class="d-flex flex-start align-items-center">
      <div class="d-flex justify-content-center">
        <img
          class="rounded-circle shadow-1-strong me-3 small-screen"
          [src]="
            review.userId.imageUrl
              ? review.userId.imageUrl
              : placeholderImageUrl()
          "
          alt="User picture"
          width="80"
          height="80"
        />
      </div>
      <div>
        <h6 class="fw-bold text-primary mb-1">
          {{ review.userId.name }}
        </h6>
        <div class="d-flex justify-content-start">
          <star-rating
            class="ms-n1"
            [readOnly]="true"
            [starType]="'svg'"
            [size]="'medium'"
            [rating]="review.stars"
          ></star-rating>
        </div>
        <p class="text-muted small mb-0">{{ review.updatedAt | moment }}</p>
      </div>
    </div>

    <p class="mt-2 mb-2">
      {{ review.content }}
    </p>
    <!-- show the edit and delete button if the current logged in user is the author of the review -->
    <div
      *ngIf="isCurrentUserReviewAuthor()"
      class="d-flex justify-content-between align-items-center"
    >
      <p class="small mb-0" style="color: #aaa">
        <a
          [routerLink]="'reviews/' + review['_id'] + '/edit'"
          class="link-secondary"
          fragment="reviewForm"
          >Edit</a
        >
        •
        <a (click)="openModal(review['_id'])" class="link-secondary">Remove</a>
        •
      </p>
    </div>
  </div>
</div>
<!-- For small screens end -->

<!-- For large screens start -->
<div class="d-none d-lg-flex flex-start mb-4">
  <img
    class="rounded-circle shadow-1-strong me-3 reviewer-image"
    [src]="
      review.userId.imageUrl ? review.userId.imageUrl : placeholderImageUrl()
    "
    alt="User picture"
    width="80"
    height="80"
  />

  <div class="card w-100">
    <div class="card-body p-4">
      <div class="">
        <h5 class="text-primary">
          {{ review.userId.name }}
        </h5>
        <div class="d-flex justify-content-start">
          <star-rating
            class="ms-n1"
            [readOnly]="true"
            [starType]="'svg'"
            [size]="'medium'"
            [rating]="review.stars"
          ></star-rating>
        </div>

        <p class="small text-muted">
          {{ review.updatedAt | moment }}
        </p>

        <p>{{ review.content }}</p>
        <!-- show the edit and delete button if the current logged in user is the author of the review -->
        <div
          *ngIf="isCurrentUserReviewAuthor()"
          class="d-flex justify-content-between align-items-center"
        >
          <p class="small mb-0" style="color: #aaa">
            <a
              [routerLink]="'reviews/' + review['_id'] + '/edit'"
              class="link-secondary"
              fragment="reviewForm"
              >Edit</a
            >
            •
            <a (click)="openModal(review['_id'])" class="link-secondary"
              >Remove</a
            >
            •
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- For large screens end -->
