.editor-container {
  position: relative;
}

.full-description-invalid {
  border: 1px solid #ff0000;
}
.full-description-valid {
  border: 1px solid #008000;
}
.invalid-feedback {
  position: absolute;
  margin-top: 0;
  font-size: 0.8rem;
}
