<div class="container border rounded-top px-0 mt-5 ms-md-5 px-4 py-3">
  <div class="container-sm text-center my-5">
    <p *ngIf="editMode; else new" class="display-6 text-uppercase">
      Edit course
    </p>
    <ng-template #new>
      <p class="display-6 text-uppercase">Add new course</p>
    </ng-template>
  </div>
  <form [formGroup]="courseFormGroup">
    <div class="mb-3">
      <label for="course-title">Course title:</label>
      <input
        [ngClass]="{
          'invalid-input': courseFormGroup.get('title')?.value == ''
        }"
        class="form-control"
        type="text"
        id="course-title"
        formControlName="title"
      />
    </div>
    <div class="mb-3">
      <label for="course-description">Course description:</label>
      <input
        [ngClass]="{
          'invalid-input': courseFormGroup.get('description')?.value == ''
        }"
        class="form-control"
        type="text"
        id="course-description"
        formControlName="description"
      />
    </div>
    <div class="mb-3">
      <label for="price">Course price:</label>
      <input
        [ngClass]="{
          'invalid-input':
            courseFormGroup.get('price')?.value == '' ||
            courseFormGroup.get('price')?.invalid
        }"
        class="form-control"
        type="text"
        id="price"
        formControlName="price"
      />
      <!-- <div
        *ngIf="
          courseFormGroup.get('price').touched &&
          courseFormGroup.get('price').invalid
        "
        class="form-text alert alert-danger"
      >
        Price must be a number
      </div> -->
    </div>
    <div class="mb-3">
      <label for="course-url">Image URL</label>
      <input
        [ngClass]="{
          'invalid-input':
            courseFormGroup.get('imageUrl')?.value == '' ||
            courseFormGroup.get('imageUrl')?.invalid
        }"
        class="form-control"
        type="text"
        id="course-url"
        formControlName="imageUrl"
      />
    </div>
    <div *ngIf="courseFormGroup.invalid">
      <p class="alert alert-danger text-start">
        The course title, description, price, and image URL fields are required.
      </p>
    </div>

    <div class="d-flex justify-content-start">
      <a
        (click)="submitForm($event)"
        [ngClass]="{ disabled: courseFormGroup.invalid }"
        class="btn btn-outline-success btn-sm d-flex justify-content-center align-items-center px-3"
        href=""
        >Save</a
      >
      <a
        (click)="onCancel($event)"
        class="btn btn-outline-primary btn-sm d-flex justify-content-center align-items-center ms-2 px-3"
        href=""
        >Cancel</a
      >
    </div>
  </form>
</div>
