<div class="container-fluid custom">
  <section>
    <div class="row d-flex justify-content-center">
      <div class="col-md-10 col-xl-8 text-center">
        <h3 class="mb-4">Testimonials</h3>
        <p class="mb-4 pb-2 mb-md-5 pb-md-0">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error
          amet numquam iure provident voluptate esse quasi, veritatis totam
          voluptas nostrum quisquam eum porro a pariatur veniam.
        </p>
      </div>
    </div>

    <div *ngFor="let testimonial of groupsOfItems">
      <app-testimonial-item [testimonials]="testimonial"></app-testimonial-item>
    </div>
  </section>
</div>
