<div
  class="container border rounded-top px-0 mt-5 m-auto px-4 py-3 editor-container"
>
  <div class="container-sm text-center my-5">
    <p *ngIf="editMode; else new" class="display-6 text-uppercase">
      Edit course
    </p>
    <ng-template #new>
      <p class="display-6 text-uppercase">Add new course</p>
    </ng-template>
  </div>
  <form [formGroup]="courseFormGroup">
    <div class="mb-3">
      <label for="course-title">Course title:</label>
      <input
        [ngClass]="{
          'is-invalid':
            courseFormGroup.get('title').invalid &&
            courseFormGroup.get('title').touched,
          'is-valid':
            courseFormGroup.get('title').valid &&
            courseFormGroup.get('title').touched
        }"
        class="form-control"
        type="text"
        id="course-title"
        formControlName="title"
      />
      <div
        class="invalid-feedback"
        *ngIf="
          courseFormGroup.get('title').invalid &&
          courseFormGroup.get('title').touched
        "
      >
        Required
      </div>
    </div>
    <div class="mb-3">
      <label for="short-description">Short description:</label>
      <textarea
        maxlength="200"
        [ngClass]="{
          'is-invalid':
            courseFormGroup.get('shortDescription').invalid &&
            courseFormGroup.get('shortDescription').touched,
          'is-valid':
            courseFormGroup.get('shortDescription').valid &&
            courseFormGroup.get('shortDescription').touched
        }"
        class="form-control"
        rows="2"
        type="text"
        id="short-description"
        formControlName="shortDescription"
      ></textarea>
      <div
        class="invalid-feedback"
        *ngIf="
          courseFormGroup.get('shortDescription').invalid &&
          courseFormGroup.get('shortDescription').touched
        "
      >
        Required
      </div>
    </div>
    <div class="mb-3">
      <label for="full-description">Full description:</label>
      <!-- <textarea
        [ngClass]="{
          'invalid-input':
            courseFormGroup.get('fullDescription').invalid &&
            courseFormGroup.get('fullDescription').touched
        }"
        class="form-control"
        rows="4"
        type="text"
        id="full-description"
        formControlName="fullDescription"
      ></textarea> -->

      <quill-editor
        [trimOnValidation]="true"
        [placeholder]="'Enter full description here'"
        [required]="true"
        [ngClass]="{
          'full-description-invalid':
            courseFormGroup.get('fullDescription').invalid &&
            courseFormGroup.get('fullDescription').touched,
          'full-description-valid':
            courseFormGroup.get('fullDescription').valid &&
            courseFormGroup.get('fullDescription').touched
        }"
        formControlName="fullDescription"
        class="w-100"
      ></quill-editor>
    </div>
    <div class="mb-3">
      <label for="price">Course price:</label>
      <input
        [ngClass]="{
          'is-invalid':
            courseFormGroup.get('price').invalid &&
            courseFormGroup.get('price').touched,
          'is-valid':
            courseFormGroup.get('price').valid &&
            courseFormGroup.get('price').touched
        }"
        class="form-control"
        type="number"
        id="price"
        formControlName="price"
      />
      <div
        class="invalid-feedback"
        *ngIf="
          courseFormGroup.get('price').invalid &&
          courseFormGroup.get('price').touched
        "
      >
        Required
      </div>
    </div>

    <!-- Image file upload start -->
    <div class="mb-4">
      <label for="course-image">Course image:</label>
      <app-file-image-item
        [imageName]="editMode ? courseToEdit.title[0][0] : 'img'"
        [currentImageUrl]="courseToEdit.imageUrl"
        [editMode]="editMode"
      ></app-file-image-item>
    </div>
    <!-- Image file upload end -->
    <div
      *ngIf="!isProcessingRequest(); else showLoader"
      class="d-flex justify-content-start"
    >
      <a
        (click)="submitForm($event)"
        [ngClass]="{ disabled: courseFormGroup.invalid || isFileInvalid() }"
        class="btn btn-outline-success btn-sm d-flex justify-content-center align-items-center px-3"
        href=""
        >Save</a
      >
      <a
        (click)="onCancel($event)"
        class="btn btn-outline-primary btn-sm d-flex justify-content-center align-items-center ms-2 px-3"
        href=""
        >Cancel</a
      >
    </div>
    <!-- Show a loader during an UPDATE OR POST REQUEST -->
    <ng-template #showLoader>
      <div class="d-flex align-items-center">
        <strong class="fs-5">Please wait...</strong>
        <div
          style="width: 3rem; height: 3rem"
          class="spinner-border ms-auto"
          role="status"
          aria-hidden="true"
        ></div>
      </div>
    </ng-template>
  </form>
</div>
