@import "../../../sass/variables";

.colored-text {
  color: $primary-color;
}
.icon {
  color: $primary-color;
}
.bg-image {
  height: 10rem;
}
// .car-illustration {
//   width: 60rem;
// }

// @media (min-width: 576px) {
//   .car-illustration {
//     width: 60rem;
//   }
// }

@media (min-width: 768px) {
  .car-illustration {
    width: 50rem;
  }
}
