@import "../../../sass/variables";
.heading-line {
  border: 2px solid $white-color;
  width: 2rem;
  margin-bottom: 0rem;
}

.custom-input {
  height: 3rem;
}
.btn-primary {
  background-color: $secondary-color;
}
.heading-line {
  border: 2px solid $primary-color;
  width: 2rem;
  margin-bottom: 0rem;
}
.colored-text {
  color: $primary-color;
}

/* Custom styles for the time input */
::ng-deep ngx-material-timepicker-content {
  --body-background-color: #fff;
  --primary-font-family: "Roboto", sans-serif;
  --button-color: #e6871c !important;
  --dial-active-color: #fff;
  --dial-inactive-color: rgba(255, 255, 255, 0.5);
  --dial-background-color: #f24711 !important;
  --dial-editable-active-color: #e6871c !important;
  --dial-editable-background-color: #fff;
  --clock-face-time-active-color: #fff;
  --clock-face-time-inactive-color: #6c6c6c;
  --clock-face-inner-time-inactive-color: #929292;
  --clock-face-time-disabled-color: #c5c5c5;
  --clock-face-background-color: #f0f0f0;
  --clock-hand-color: #e6871c !important;
}
