<div class="container py-2">
  <!-- For large screens start -->
  <div
    *ngIf="
      !isFetchingTestimonials() || testimonials.length != 0;
      else elseBlock
    "
    class="row text-center"
  >
    <div *ngFor="let testimonial of testimonials" class="col-md-4 mb-4 mb-md-0">
      <div class="card">
        <div class="card-body py-4 mt-2">
          <div class="d-flex justify-content-center mb-4">
            <img
              [src]="testimonial.userId.imageUrl"
              class="rounded-circle shadow-1-strong reviewer-image"
              width="150"
              height="150"
            />
          </div>
          <h5 class="font-weight-bold">{{ testimonial.userId.name }}</h5>
          <h6 class="font-weight-bold my-3">{{ testimonial.position }}</h6>
          <div class="d-flex justify-content-center">
            <star-rating
              class="ms-n1"
              [readOnly]="true"
              [starType]="'svg'"
              [size]="'medium'"
              [rating]="testimonial.stars"
            ></star-rating>
          </div>
          <p class="mb-2">
            <i class="fas fa-quote-left pe-2"></i>{{ testimonial.content }}
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- For large screens end -->

  <!-- Placeholder items start -->
  <ng-template #elseBlock>
    <div class="row text-center">
      <div
        *ngFor="let testimonial of placeholders().slice(0, 3)"
        class="col-md-4 mb-4 mb-md-0"
      >
        <div class="card placeholder-glow">
          <div class="card-body py-4 mt-2">
            <div class="d-flex justify-content-center mb-4">
              <img
                src="../../../../assets/images/placeholder/placeholder1.png"
                class="rounded-circle shadow-1-strong reviewer-image"
                width="150"
                height="150"
              />
            </div>
            <h5 class="font-weight-bold placeholder col-6"></h5>
            <h6 class="font-weight-bold my-3 placeholder col-8"></h6>

            <p class="mb-2 placeholder col-8"></p>
            <p class="mb-2 placeholder col-12"></p>

            <p class="mb-2 placeholder col-10"></p>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  <!-- Placeholder items end -->
</div>
