<div id="container">
  <mdb-carousel
    id="carouselExampleIndicators"
    class="carousel slide carousel-fade"
    data-bs-ride="carousel"
    [controls]="true"
    [indicators]="false"
    [animation]="'fade'"
  >
    <mdb-carousel-item class="carousel-item">
      <div class="carousel-image">
        <img
          src="https://images.unsplash.com/photo-1616805111699-0e52fa62f779?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80"
          class="the_slide w-100"
          alt="..."
        />
        <div class="carousel-image-overlay"></div>
      </div>
      <div class="text-start carousel-caption slide1">
        <h5 class="display-4 display-lg-1 fw-bold">
          Learn to <span class="caption-bold">drive with experts</span>
        </h5>
        <p class="d-none d-md-block fs-4">
          Learn the art of driving from the ground up with the guidance of our
          experienced experts.
        </p>
        <a
          class="btn btn-outline-light btn-lg m-2 fw-bold px-3"
          href="https://www.youtube.com/watch?v=c9B4TPnak1A"
          role="button"
          routerLink="/booking"
          role="button"
          >Book Now</a
        >
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item class="carousel-item">
      <div class="carousel-image">
        <img
          src="https://images.unsplash.com/photo-1616805111699-0e52fa62f779?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80"
          class="the_slide w-100"
          alt="..."
        />
        <div class="carousel-image-overlay"></div>
      </div>
      <div class="text-start carousel-caption slide2">
        <h5 class="display-4 display-lg-1 fw-bold">
          From beginner to pro,
          <span class="caption-bold">we have you covered</span>
        </h5>
        <p class="d-none d-md-block fs-4">
          Whether you're a beginner or an experienced driver, we have a course
          that's right for you.
        </p>
        <a
          class="btn btn-outline-light btn-lg m-2 fw-bold px-3"
          routerLink="/booking"
          role="button"
          >Book Now</a
        >
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item class="carousel-item">
      <div class="carousel-image">
        <img
          src="https://images.unsplash.com/photo-1482029255085-35a4a48b7084?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1031&q=80"
          class="the_slide w-100"
          alt="..."
        />
        <div class="carousel-image-overlay"></div>
      </div>
      <div class="text-start carousel-caption slide3">
        <h5 class="display-4 display-lg-1 fw-bold">
          Pass your <span class="caption-bold">driving test with ease</span>
        </h5>
        <p class="d-none d-md-block fs-4">
          Our tailored approach ensures that you can confidently pass your
          driving test with ease, backed by proven strategies and dedicated
          instructors.
        </p>
        <a
          class="btn btn-outline-light btn-lg m-2 fw-bold px-3"
          routerLink="/booking"
          role="button"
          >Book Now</a
        >
      </div>
    </mdb-carousel-item>
  </mdb-carousel>
  <div class="container row row-cols-1 row-cols-lg-3 m-auto cards">
    <div class="col mb-3">
      <div class="card shadow-lg">
        <div
          class="card-body d-flex flex-column flex-lg-row justify-content-center align-items-center"
        >
          <i class="fas fa-car-alt fa-4x icon"></i>
          <div
            class="d-flex flex-column align-items-center align-items-lg-start ms-0 ms-lg-2 justify-content-center"
          >
            <h5 class="card-title fw-bold">Code 8</h5>
            <p class="card-text mt-n1">Car</p>
          </div>
        </div>
      </div>
      <div class="col"></div>
      <div class="col"></div>
    </div>
    <div class="col mb-3">
      <div class="card shadow-lg">
        <div
          class="card-body d-flex flex-column flex-lg-row justify-content-center align-items-center"
        >
          <i class="fas fa-truck-moving fa-4x icon"></i>
          <div
            class="d-flex flex-column align-items-center align-items-lg-start ms-0 ms-lg-2 justify-content-center"
          >
            <h5 class="card-title fw-bold">Code 10</h5>
            <p class="card-text mt-n1">Truck</p>
          </div>
        </div>
      </div>
      <div class="col"></div>
      <div class="col"></div>
    </div>
    <div class="col mb-3">
      <div class="card shadow-lg">
        <div
          class="card-body d-flex flex-column flex-lg-row justify-content-center align-items-center"
        >
          <i class="fas fa-book-open fa-4x icon"></i>
          <div
            class="d-flex flex-column align-items-center align-items-lg-start ms-0 ms-lg-2 justify-content-center"
          >
            <h5 class="card-title fw-bold">K53</h5>
            <p class="card-text mt-n1">Learners License</p>
          </div>
        </div>
      </div>
      <div class="col"></div>
      <div class="col"></div>
    </div>
  </div>
</div>
