@import "../../../sass/variables";

.pagination-controls ::ng-deep .current {
  background: $primary-color;
}

.img-fluid {
  width: 100%;
  height: 20rem;
  object-fit: cover;
}

@media (min-width: 768px) {
  .img-fluid {
    width: 23rem;
    height: 16rem;
  }
}
