<!-- View Images Tab Start  -->

<!-- Pagination information -->
<p [innerHTML]="metaData().printPaginationInfo('Images')"></p>
<div class="text-center mb-4" gallerize>
  <img
    *ngFor="
      let item of items()
        | paginate
          : {
              itemsPerPage: metaData().pageSize,
              currentPage: metaData().currentPage,
              totalItems: metaData().totalItems
            }
    "
    [src]="item.data.thumb"
    [attr.imageSrc]="item.data.src"
    [attr.thumbSrc]="item.data.thumb"
    class="img-fluid mx-lg-1 my-1"
  />
</div>

<pagination-controls
  class="text-center pagination-controls"
  [maxSize]="maxSize"
  (pageChange)="pageChanged($event)"
></pagination-controls>

<!-- View Images Tab End  -->
