<!-- Jumbotron -->
<div
  *ngIf="isPartActive"
  class="bg-image p-5 text-center shadow-1-strong w-fluid text-white mt-5"
  style="
    background-image: url('https://images.unsplash.com/photo-1476067897447-d0c5df27b5df?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fHJvYWR8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60');
  "
>
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4">
    <div
      class="col d-flex flex-column align-items-center justify-content-center mb-2 mb-md-0"
    >
      <p class="fs-2 fw-bold mb-n1 colored-title">
        <ngx-animated-counter [params]="params[0]"></ngx-animated-counter>
      </p>
      <p>Active Students</p>
      <p class="heading-line rounded"></p>
    </div>
    <div
      class="col d-flex flex-column align-items-center justify-content-center mb-2 mb-md-0"
    >
      <p class="fs-2 fw-bold mb-n1 colored-title">
        <ngx-animated-counter [params]="params[1]"></ngx-animated-counter>
      </p>
      <p>Licenses Issued</p>
      <p class="heading-line rounded"></p>
    </div>
    <div
      class="col d-flex flex-column align-items-center justify-content-center mb-2 mb-md-0"
    >
      <p class="fs-2 fw-bold mb-n1 colored-title">
        <ngx-animated-counter [params]="params[2]"></ngx-animated-counter>
      </p>
      <p>Course Reviews</p>
      <p class="heading-line rounded"></p>
    </div>
    <div
      class="col d-flex flex-column align-items-center justify-content-center mb-2 mb-md-0"
    >
      <p class="fs-2 fw-bold mb-n1 colored-title">
        <ngx-animated-counter [params]="params[3]"></ngx-animated-counter>
      </p>
      <p>Years on the Market</p>
      <p class="heading-line rounded"></p>
    </div>
  </div>
</div>
<!-- Jumbotron -->
