<div class="container-fluid">
  <p class="heading-line m-auto rounded"></p>
  <p class="display-6 text-uppercase text-center">Bookings</p>
  <div>
    <div class="row">
      <div class="container col-md-6 mb-3">
        <h3>Weeks</h3>
        <app-bar-chart
          *ngIf="
            thisWeek !== undefined &&
            lastWeek !== undefined &&
            twoWeeksAgo !== undefined &&
            threeWeeksAgo !== undefined
          "
          [data_1]="{ label: 'This Week', value: thisWeek }"
          [data_2]="{ label: 'Last Week', value: lastWeek }"
          [data_3]="{ label: 'Two Weeks Ago', value: twoWeeksAgo }"
          [data_4]="{ label: 'Three Weeks Ago', value: threeWeeksAgo }"
        ></app-bar-chart>
      </div>
      <div class="container col-md-6 mb-3">
        <h3>Months</h3>
        <app-bar-chart
          *ngIf="
            thisMonth !== undefined &&
            lastMonth !== undefined &&
            twoMonthsAgo !== undefined &&
            threeMonthsAgo !== undefined
          "
          [data_1]="{ label: 'This Month', value: thisMonth }"
          [data_2]="{ label: 'Last Month', value: lastMonth }"
          [data_3]="{ label: 'Two Months Ago', value: twoMonthsAgo }"
          [data_4]="{ label: 'Three Months Ago', value: threeMonthsAgo }"
        ></app-bar-chart>
      </div>
      <div class="container col-md-6 mb-3">
        <h3>Years</h3>
        <app-bar-chart
          *ngIf="
            thisYear !== undefined &&
            lastYear !== undefined &&
            twoYearsAgo !== undefined &&
            threeYearsAgo !== undefined
          "
          [data_1]="{ label: 'This Year', value: thisYear }"
          [data_2]="{ label: 'Last Year', value: lastYear }"
          [data_3]="{ label: 'Two Years Ago', value: twoYearsAgo }"
          [data_4]="{ label: 'Three Years Ago', value: threeYearsAgo }"
        ></app-bar-chart>
      </div>
    </div>
  </div>
</div>
