<div>
  <h2>Booking Statistics</h2>
  <div>
    <h3>This Week and Last Week</h3>
    <div class="row">
      <div class="container col">
        <app-bar-chart
          [data_1]="{ label: 'This Week', value: bookingsThisWeek }"
          [data_2]="{ label: 'Last Week', value: bookingsLastWeek }"
        ></app-bar-chart>
      </div>
      <div class="container col">
        <app-bar-chart
          [data_1]="{ label: 'This Week', value: bookingsThisWeek }"
          [data_2]="{ label: 'Last Week', value: bookingsLastWeek }"
        ></app-bar-chart>
      </div>
    </div>
  </div>
  <div>
    <h3>Last Week</h3>
    <p>{{ bookingsLastWeek }} bookings registered last week.</p>
  </div>
  <div>
    <h3>This Month</h3>
    <p>{{ bookingsThisMonth }} bookings registered this month.</p>
  </div>
  <div>
    <h3>Last Month</h3>
    <p>{{ bookingsLastMonth }} bookings registered last month.</p>
  </div>
  <div>
    <h3>This Year</h3>
    <p>{{ bookingsThisYear }} bookings registered this year.</p>
  </div>
  <div>
    <h3>Last Year</h3>
    <p>{{ bookingsLastYear }} bookings registered last year.</p>
  </div>
</div>
