<div class="reset-container mt-5">
  <div class="my-3 text-dark rounded-top px-0 mb-5">
    <h2 class="fw-bold">Forgot your password?</h2>
    <p>
      Please enter your email address. We'll send you a link to reset your
      password.
    </p>
    <form [formGroup]="formGroup">
      <mdb-form-control class="mb-3 mt-3 mt-lg-0">
        <input
          mdbValidate
          [ngClass]="{
            'is-invalid':
              formGroup.get('email').invalid && formGroup.get('email').touched,
            disabled: isSendingEmailSignal()
          }"
          mdbInput
          class="form-control form-control-lg"
          id="email"
          formControlName="email"
        />
        <label mdbLabel class="form-label" for="email">Email</label>
        <mdb-error
          class="mt-1 error-text"
          *ngIf="
            formGroup.get('email').invalid && formGroup.get('email').touched
          "
        >
          Please enter a valid email.</mdb-error
        >
      </mdb-form-control>
      <div class="d-flex justify-content-start pt-2">
        <button
          *ngIf="!isSendingEmailSignal(); else sendingLoader"
          (click)="submitForm($event)"
          [ngClass]="{ disabled: formGroup.invalid }"
          class="btn btn-dark text-light d-flex justify-content-center align-items-center px-3 w-100"
        >
          Send email
        </button>

        <!-- Loading button -->
        <ng-template #sendingLoader>
          <button class="btn btn-dark text-light w-100" type="button" disabled>
            <span
              class="spinner-border spinner-border-sm"
              role="status"
              aria-hidden="true"
            ></span>
            Sending email...
          </button>
        </ng-template>
      </div>
    </form>
  </div>
</div>
