<div class="container-fluid custom mt-5">
  <p class="heading-line rounded"></p>
  <p class="display-5 text-dark text-uppercase">
    Join Us <span class="colored-text">Today</span>
  </p>
  <p>
    Choose us for a driving education experience that is both professional and
    cost-effective, and join the ranks of our satisfied, skilled drivers who
    have passed their driving tests with flying colors on their very first
    attempt.
  </p>
  <div class="row row-cols-1 row-cols-md-2">
    <div class="col-md-8">
      <app-booking-item></app-booking-item>
    </div>

    <div class="col-md-4 d-flex align-items-center">
      <img src="" alt="" class="img-fluid" />
    </div>
  </div>
</div>
