<div class="container-fluid custom mt-5">
  <p class="heading-line rounded"></p>
  <p class="display-5 text-dark text-uppercase">
    Join Us <span class="colored-text">Today</span>
  </p>
  <p>
    Choose us for a driving education experience that is both professional and
    cost-effective, and join the ranks of our satisfied, skilled drivers who
    have passed their driving tests with flying colors on their very first
    attempt.
  </p>
  <div class="row row-cols-1 row-cols-md-2">
    <!-- Image for small screens start -->
    <div class="d-md-none col-md-6 d-flex align-items-center">
      <img
        src="../../assets/images/illustrations/illustration_6.png"
        class="img-fluid"
        alt="Car image"
      />
    </div>
    <!-- Image for small screens end -->

    <!-- Contact form start -->
    <div class="col-md-6">
      <app-booking-item></app-booking-item>
    </div>
    <!-- Contact form end -->

    <!--Image for large screens start -->
    <div class="d-none d-md-block col-md-6 d-md-flex align-items-center">
      <img
        src="../../assets/images/illustrations/illustration_6.png"
        class="img-fluid"
        alt="Car image"
      />
    </div>
    <!--Image for large screens end -->
  </div>
</div>
