.card-img-top {
  height: 13rem; /* Set the desired height for the card images */
  object-fit: cover; /* This ensures that the image maintains its aspect ratio and covers the entire container */
  border-radius: 0;
}

.card,
.bg-image {
  border-radius: 0 !important;
}
