<!-- <div class="card shadow-lg rounded-3" mdbRipple rippleColor="light">
  <img
    [src]="course.imageUrl"
    class="card-img-top"
    [alt]="course.title + ' course image'"
  />

  <div class="card-body">
    <h5 class="card-title fw-bold fs-4">{{ course.title }}</h5>

    <p class="fs-5 fw-bold text-muted">R {{ course.price }}</p>

    <small class="text-muted d-flex align-items-center gap-2"
      ><span><i class="far fa-comment"></i></span>{{ course.reviews.length }}
      {{ course.reviews.length == 1 ? "review" : "reviews" }}</small
    >

    <a [routerLink]="course['_id']" class="btn btn-danger w-100 mt-3"
      >COURSE DETAIL</a
    >
  </div>
</div> -->

<div class="card shadow-lg text-dark">
  <div class="bg-image hover-overlay ripple">
    <img
      [src]="course.imageUrl"
      class="img-fluid card-img-top"
      [alt]="course.title + ' course image'"
    />

    <a [routerLink]="course['_id']">
      <div
        class="mask"
        style="background-color: rgba(251, 251, 251, 0.15)"
      ></div>
    </a>
  </div>
  <div class="card-body">
    <p class="card-title fs-5 mt-n3 fw-bold">
      <a>{{ course.title }}</a>
    </p>
    <div class="d-flex justify-content-start mt-n2 mb-3 align-items-start">
      <span class="text-dark fw-bold">{{ course.rating }}</span>
      <!-- Move the stars a bit to the left if the course does have have any reviews -->
      <star-rating
        [ngClass]="{ 'course-stars-left': course.reviews.length == 0 }"
        class="ms-n2"
        [readOnly]="true"
        [starType]="'svg'"
        [rating]="course.rating"
      ></star-rating>

      <span>({{ course.reviews.length }})</span>
    </div>

    <p class="mt-n3 mb-2 fw-bold mb-0">
      {{ course.price | currency : "ZAR" : "R" }}
    </p>
    <!-- <hr class="my-1" />
    <small class="text-muted d-flex align-items-center gap-2 mb-1"
      ><span><i class="far fa-comment"></i></span>{{ course.reviews.length }}
      {{ course.reviews.length == 1 ? "review" : "reviews" }}</small
    > -->

    <a
      [routerLink]="'/courses/' + course['_id']"
      class="btn btn-danger w-100 mb-0"
      >More Info</a
    >
  </div>
</div>
