<div class="card shadow-lg rounded-3" mdbRipple rippleColor="light">
  <img
    [src]="course.imageUrl"
    class="card-img-top"
    [alt]="course.title + ' course image'"
  />

  <div class="card-body">
    <h5 class="card-title fw-bold fs-4">{{ course.title }}</h5>

    <p class="fs-5 fw-bold text-muted">R {{ course.price }}</p>

    <small class="text-muted d-flex align-items-center gap-2"
      ><span><i class="far fa-comment"></i></span>{{ course.reviews.length }}
      {{ course.reviews.length == 1 ? "review" : "reviews" }}</small
    >

    <a [routerLink]="course['_id']" class="btn btn-danger w-100 mt-3"
      >COURSE DETAIL</a
    >
  </div>
</div>
