@import "../../../../../sass/variables";

.heading-line {
  border: 2px solid $primary-color;
  width: 2rem;
  margin-bottom: 0rem;
}

// .bar-title {
//   color: $white-color;
//   background-color: $background-color;
//   width: fit-content;
//   padding: 0.5rem;
//   border-radius: 1px;
// }
