<div class="container-fluid custom mt-5">
  <p class="heading-line m-auto rounded text-center"></p>
  <p class="display-6 text-uppercase text-center mb-5">Our Gallery</p>

  <mdb-tabs id="gallery" [fill]="true" [justified]="true">
    <!-- View Images Tab Start  -->
    <mdb-tab>
      <ng-template mdbTabTitle>
        <div class="d-flex flex-column flex-lg-row align-items-center">
          <span>
            <i class="far fa-eye fa-2x me-lg-2"></i>
          </span>
          <span class="fs-6 fs-lg-5 fw-bold d-none d-lg-block"
            >View images</span
          >
        </div>
      </ng-template>

      <app-gallery-view></app-gallery-view>
    </mdb-tab>
    <!-- View Images Tab End  -->

    <!-- Add Images Tab Start  -->
    <mdb-tab>
      <ng-template mdbTabTitle>
        <div class="d-flex flex-column flex-lg-row align-items-center">
          <span>
            <i class="fas fa-plus fa-2x me-lg-2"></i>
          </span>
          <span class="fs-6 fs-lg-5 fw-bold d-none d-lg-block"
            >Add a new image</span
          >
        </div>
      </ng-template>
      <app-gallery-add></app-gallery-add>
    </mdb-tab>
    <!-- Add Images Tab End  -->

    <!-- Delete Images Tab Start  -->
    <mdb-tab>
      <ng-template mdbTabTitle>
        <div class="d-flex flex-column flex-lg-row align-items-center">
          <span>
            <i class="fas fa-trash-alt fa-2x me-lg-2"></i>
          </span>
          <span class="fs-6 fs-lg-5 fw-bold d-none d-lg-block"
            >Delete an image</span
          >
        </div>
      </ng-template>
      <app-gallery-delete></app-gallery-delete>
    </mdb-tab>
    <!-- Delete Images Tab End  -->
  </mdb-tabs>
</div>
