<form [formGroup]="formGroup">
  <!-- Image file upload start -->

  <div class="row row-cols-1 row-cols-lg-2 gy-1">
    <div class="col-lg-5 order-lg-last">
      <img
        [src]="
          imagePreview
            ? imagePreview
            : currentImageUrl
            ? currentImageUrl
            : 'https://placehold.co/600x400?text=' + imageName
        "
        alt="Current course image"
        class="rounded hover-shadow img-fluid upload-image"
      />
      <p *ngIf="editMode" class="upload-warning">
        Please note: Uploading a new image will replace the current one.
      </p>
    </div>
    <div class="col-lg-7 order-lg-first image-upload-container">
      <file-upload
        class="h-100"
        [ngClass]="{
          'upload-invalid':
            formGroup.get('file').invalid && formGroup.get('file').touched
        }"
        id="course-image"
        accept="image/*"
        [multiple]="false"
        [animation]="false"
        formControlName="file"
      >
        <ng-template #placeholder>
          <div
            class="d-flex justify-content-start align-items-center placeholder-text"
          >
            <i class="fas fa-file-upload fa-3x me-2"></i
            ><span
              *ngIf="!doesUploadExist()"
              [innerHTML]="placeholderText"
            ></span>
          </div>
        </ng-template>
      </file-upload>
      <div
        *ngIf="formGroup.get('file').invalid && formGroup.get('file').touched"
        class="file-error-message text-danger d-flex justify-content-start"
      >
        <span>Invalid file format.</span>
        <!-- <span class="d-none d-lg-block ms-1"
            >Please upload an image (e.g., JPG, PNG, GIF).</span
          > -->
      </div>
    </div>
  </div>

  <!-- Image file upload end -->
</form>
