@import "../../sass/variables";

.heading-line {
  border: 2px solid $primary-color;
  width: 2rem;
  margin-bottom: 0rem;
}
.verification-block {
  background-color: hsl(0, 0%, 96%);
  height: fit-content;
}
