<div class="container-lg mt-5">
  <div class="container-fluid d-flex flex-column align-items-center">
    <p class="heading-line rounded"></p>
    <p class="text-capitalize fs-4">Courses We Offer</p>
    <p class="display-5 text-dark text-uppercase">Our Driving Courses</p>
  </div>
  <!-- Courses list -->
  <div class="row row-cols-1 row-cols-md-3 g-4 container-fluid m-auto">
    <div class="col" *ngFor="let course of courses()">
      <app-course-item [course-detail]="course"></app-course-item>
    </div>
  </div>

  <!-- Placeholder courses -->
  <div
    *ngIf="courses().length == 0"
    class="row row-cols-1 row-cols-md-3 g-4 m-auto"
  >
    <div *ngFor="let item of placeholderCards" class="col">
      <div class="card">
        <img
          src="../../../assets/img/placeholder/placeholder1.png"
          class="card-img-top img-fluid"
          alt="placeholder image"
        />
        <div class="card-body">
          <h5 class="card-title placeholder-wave">
            <span class="placeholder col-6"></span>
          </h5>
          <p class="card-text placeholder-wave">
            <span class="placeholder col-7"></span>
            <span class="placeholder col-4"></span>
            <span class="placeholder col-4"></span>
            <span class="placeholder col-6"></span>
            <span class="placeholder col-8"></span>
          </p>
        </div>
      </div>
    </div>
  </div>
  <a
    class="btn btn-outline-light btn-lg mt-4 fw-bold py-1 d-flex align-items-center text-uppercase"
    routerLink="/courses"
    role="button"
    ><span>See more courses</span></a
  >
</div>
