<!-- Footer -->
<footer class="text-center text-lg-start text-light mt-5 container-fluid">
  <!-- Section: Social media -->
  <section
    class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom social-links"
  >
    <!-- Left -->
    <div class="me-5 d-none d-lg-block">
      <span>Get connected with us on social networks:</span>
    </div>
    <!-- Left -->

    <!-- Right -->
    <div>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-facebook-f"></i>
      </a>
      <!-- <a href="" class="me-4 text-reset">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-google"></i>
      </a> -->
      <a href="" class="me-4 text-reset">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-linkedin"></i>
      </a>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>Loyd School of Driving
          </h6>
          <p>
            Join a community of driving enthusiasts who are transformed into
            skilled drivers under the guidance of our esteemed school.
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4 colored-text">Courses</h6>
          <p *ngFor="let course of courses()">
            <a [routerLink]="'courses/' + course['_id']" class="text-reset">{{
              course.title
            }}</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4 colored-text">Navigation</h6>
          <p>
            <a routerLink="/" class="text-reset">Home</a>
          </p>
          <p>
            <a routerLink="/courses" class="text-reset">Courses</a>
          </p>
          <p>
            <a routerLink="/gallery" class="text-reset">Gallery</a>
          </p>
          <p>
            <a routerLink="/contact" class="text-reset">Contact Us</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4 colored-text">Contact</h6>
          <p><i class="fas fa-home me-3"></i>379 Hudson St, Cape Town</p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            loyd@example.com
          </p>
          <p><i class="fas fa-phone me-3"></i> + 27 234 567 88</p>
          <!-- <p><i class="fas fa-print me-3"></i> + 27 234 567 89</p> -->
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Section: Images -->
  <section class="">
    <div class="row">
      <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
        <div
          mdbRipple
          rippleColor="light"
          class="bg-image hover-overlay ripple shadow-1-strong rounded"
        >
          <img
            src="https://mdbootstrap.com/img/new/fluid/city/113.webp"
            class="w-100"
          />
          <a href="#!">
            <div
              class="mask"
              style="background-color: rgba(251, 251, 251, 0.2)"
            ></div>
          </a>
        </div>
      </div>
      <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
        <div
          mdbRipple
          rippleColor="light"
          class="bg-image hover-overlay ripple shadow-1-strong rounded"
        >
          <img
            src="https://mdbootstrap.com/img/new/fluid/city/111.webp"
            class="w-100"
          />
          <a href="#!">
            <div
              class="mask"
              style="background-color: rgba(251, 251, 251, 0.2)"
            ></div>
          </a>
        </div>
      </div>
      <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
        <div
          mdbRipple
          rippleColor="light"
          class="bg-image hover-overlay ripple shadow-1-strong rounded"
        >
          <img
            src="https://mdbootstrap.com/img/new/fluid/city/112.webp"
            class="w-100"
          />
          <a href="#!">
            <div
              class="mask"
              style="background-color: rgba(251, 251, 251, 0.2)"
            ></div>
          </a>
        </div>
      </div>
      <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
        <div
          mdbRipple
          rippleColor="light"
          class="bg-image hover-overlay ripple shadow-1-strong rounded"
        >
          <img
            src="https://mdbootstrap.com/img/new/fluid/city/114.webp"
            class="w-100"
          />
          <a href="#!">
            <div
              class="mask"
              style="background-color: rgba(251, 251, 251, 0.2)"
            ></div>
          </a>
        </div>
      </div>
      <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
        <div
          mdbRipple
          rippleColor="light"
          class="bg-image hover-overlay ripple shadow-1-strong rounded"
        >
          <img
            src="https://mdbootstrap.com/img/new/fluid/city/115.webp"
            class="w-100"
          />
          <a href="#!">
            <div
              class="mask"
              style="background-color: rgba(251, 251, 251, 0.2)"
            ></div>
          </a>
        </div>
      </div>
      <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
        <div
          mdbRipple
          rippleColor="light"
          class="bg-image hover-overlay ripple shadow-1-strong rounded"
        >
          <img
            src="https://mdbootstrap.com/img/new/fluid/city/116.webp"
            class="w-100"
          />
          <a href="#!">
            <div
              class="mask"
              style="background-color: rgba(251, 251, 251, 0.2)"
            ></div>
          </a>
        </div>
      </div>
    </div>
  </section>
  <!-- Section: Images -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05)">
    © 2023 Copyright
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
