<!-- Delete Images Tab Start  -->

<div class="text-center row row-cols-1 row-cols-lg-3 gx-1 gy-1">
  <div *ngFor="let item of items()" class="col bg-image">
    <img [src]="item.url" class="img-fluid img-delete" alt="Gallery Image" />

    <div class="mask d-flex justify-content-center align-items-center h-100">
      <button
        (click)="deleteImage(item.id, item.url)"
        class="btn custom text-light"
      >
        Delete
      </button>
    </div>
  </div>
</div>

<!-- Delete Images Tab End  -->
