@import "../../../sass/_variables";

.carousel {
  position: relative;
  z-index: 1;
}

.cards {
  position: relative;
  z-index: 2;
  margin-top: -3rem !important;
}
.card {
  border-radius: 0;
}
.icon {
  color: $background-color;
}
.carousel-caption h5 {
  text-transform: capitalize;
}
.caption-bold {
  color: $tertiary-color;
}

.display-4 {
  font-family: $heading-font;
}
.carousel-item.active {
  position: relative;
}
.main-title {
  font-size: 2rem;
}
.btn-container {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .main-title {
    font-size: 3.5rem;
  }
  .sentence {
    font-size: 1.2rem;
  }
}
@media (min-width: 992px) {
  .main-title {
    font-size: 4.5rem;
  }
  .sentence {
    font-size: 1.5rem;
  }
}

.carousel-item {
  transition: all 0.5s ease-out;
}
.carousel-item img {
  object-fit: cover;
}

.the_slide {
  width: 100%;
  height: 24rem;
  object-fit: cover;
}

@media (min-width: 728px) {
  .the_slide {
    height: 25rem;
  }
}

@media (min-width: 1024px) {
  .the_slide {
    height: 30rem;
  }
}
/* The images - END */
