<div
  class="bg-image px-1 py-3 text-center shadow-1-strong container-lg text-white mt-5"
  style="
    background-image: url('https://images.unsplash.com/photo-1476067897447-d0c5df27b5df?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fHJvYWR8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60');
  "
>
  <div class="d-flex flex-column align-items-center">
    <p class="display-5">
      Get Your First Lesson… <span class="colored-text">Today</span>
    </p>
    <p class="display-5">
      <i class="fas fa-phone icon"></i>
      <span class="ms-2">+27 91 589 6615</span>
    </p>
  </div>
</div>
