<!-- Add Images Tab Start  -->
<div>
  <app-file-image-item [imageName]="'img'"></app-file-image-item>
  <div class="btn-container d-flex justify-content-center">
    <button
      *ngIf="!isUploadingItem(); else showLoader"
      [ngClass]="{ disabled: isFileInvalid() }"
      (click)="addImage()"
      class="btn custom btn-lg text-light"
    >
      Add image
    </button>
    <!-- Show a loader during a CRUD REQUEST -->
    <ng-template #showLoader>
      <button class="btn custom btn-lg text-light" type="button" disabled>
        <span
          class="spinner-border spinner-border-sm"
          role="status"
          aria-hidden="true"
        ></span>
        <span class="ms-1">Uploading image...</span>
      </button>
    </ng-template>
  </div>
</div>
<!-- Add Images Tab End  -->
