<div class="reset-container mt-5">
  <div class="my-3 text-dark rounded-top px-0 mb-5">
    <h2 class="fw-bold">Reset Your Password</h2>
    <p>Enter your new password.</p>
    <form [formGroup]="formGroup">
      <!-- Display error message if passwords don't match -->

      <div class="mb-3 mt-3 mt-lg-0 form-floating">
        <input
          [ngClass]="{
            'is-invalid':
              formGroup.get('password').invalid &&
              formGroup.get('password').touched
          }"
          class="form-control"
          id="password"
          formControlName="password"
          placeholder="Password"
        />
        <label class="form-label" for="password">Password</label>
        <div
          class="invalid-feedback"
          *ngIf="
            formGroup.get('password').invalid &&
            formGroup.get('password').touched
          "
        >
          Your password should have a minimum length of 8 characters and include
          a combination of letters, and numbers.
        </div>
      </div>

      <div class="mb-3 mt-3 mt-lg-0 form-floating">
        <input
          [ngClass]="{
            'is-invalid':
              formGroup.hasError('mismatch') &&
              formGroup.get('password').touched &&
              formGroup.get('confirmPassword').touched
          }"
          class="form-control"
          id="confirmPassword"
          formControlName="confirmPassword"
          placeholder="Confirm password"
        />
        <label class="form-label" for="confirmPassword">Confirm Password</label>
        <div
          class="invalid-feedback"
          *ngIf="
            formGroup.hasError('mismatch') &&
            formGroup.get('password').touched &&
            formGroup.get('confirmPassword').touched
          "
        >
          Passwords do not match.
        </div>
      </div>

      <div class="d-flex justify-content-start pt-2">
        <button
          *ngIf="!isResettingPassword(); else sendingLoader"
          (click)="submitForm($event)"
          [ngClass]="{ disabled: formGroup.invalid }"
          class="btn btn-dark text-light d-flex justify-content-center align-items-center px-3 w-100"
        >
          Send password
        </button>

        <!-- Loading button -->
        <ng-template #sendingLoader>
          <button class="btn btn-dark text-light w-100" type="button" disabled>
            <span
              class="spinner-border spinner-border-sm"
              role="status"
              aria-hidden="true"
            ></span>
            Sending password...
          </button>
        </ng-template>
      </div>
    </form>
  </div>
</div>
