<div style="background-color: #f3f2f2" class="container-fluid mt-3 py-4">
  <div class="container-fluid custom">
    <div
      class="d-flex flex-column align-items-start align-items-md-center text-center"
    >
      <p class="heading-line rounded"></p>
      <p class="text-capitalize fs-4">Company Feedback</p>
      <p
        class="display-5 fw-bold text-uppercase text-start text-md-center mt-n3"
      >
        What clients are saying <span class="colored-text">about us</span>
      </p>
    </div>

    <!-- Carousel for Large Screens -->
    <mdb-carousel class="d-none d-lg-block carousel-dark" [controls]="true">
      <mdb-carousel-item *ngFor="let items of groupsOfItems">
        <app-testimonial-item [testimonials]="items"></app-testimonial-item>
      </mdb-carousel-item>
    </mdb-carousel>
    <!-- Carousel for Large Screens End -->

    <!-- Carousel for Small Screens -->
    <mdb-carousel class="d-lg-none carousel-dark pt-2" [controls]="true">
      <mdb-carousel-item *ngFor="let testimonial of testimonials">
        <div class="d-flex justify-content-center container-sm">
          <div class="row">
            <div class="col-lg-4 d-flex justify-content-center">
              <img
                [src]="testimonial.imageUrl"
                class="shadow-1 mb-3 mb-lg-0 img-fluid"
                alt="Reviewer photo"
                width="150"
                height="150"
              />
            </div>
            <div
              class="col-md-9 col-lg-7 col-xl-8 text-center text-lg-start mx-auto mx-lg-0"
            >
              <div class="d-flex justify-content-center">
                <star-rating
                  class="ms-n1"
                  [readOnly]="true"
                  [starType]="'svg'"
                  [size]="'medium'"
                  [rating]="5"
                ></star-rating>
              </div>
              <h3 class="mb-0">
                {{ testimonial.name }}
              </h3>
              <p class="fw-bold text-muted mb-2">
                {{ testimonial.position }}
              </p>
              <p class="mb-0 pb-3">
                {{ testimonial.content }}
              </p>
            </div>
          </div>
        </div>
      </mdb-carousel-item>
    </mdb-carousel>
    <!-- Carousel for Small Screens End -->
  </div>
</div>
