<div
  *ngIf="testimonials().length > 3"
  style="background-color: #f3f2f2"
  class="container-fluid mt-5 py-4"
>
  <div class="container-fluid custom">
    <div
      class="d-flex flex-column align-items-start align-items-md-center text-center"
    >
      <p class="heading-line rounded"></p>
      <p class="text-capitalize fs-4">Company Feedback</p>
      <p
        class="display-5 fw-bold text-uppercase text-start text-md-center mt-n3"
      >
        What clients are saying <span class="colored-text">about us</span>
      </p>
    </div>

    <!-- Carousel for Large Screens Start-->
    <mdb-carousel
      *ngIf="groupsOfItems.length > 0; else largeScreenPlaceholders"
      class="d-none d-lg-block carousel-dark"
      [controls]="true"
    >
      <mdb-carousel-item *ngFor="let items of groupsOfItems">
        <app-homepage-testimonial-item
          [testimonials]="items"
        ></app-homepage-testimonial-item>
      </mdb-carousel-item>
    </mdb-carousel>

    <!-- Placeholder items start -->
    <ng-template #largeScreenPlaceholders>
      <mdb-carousel class="d-none d-lg-block carousel-dark" [controls]="true">
        <mdb-carousel-item *ngFor="let items of placeholders().slice(0, 3)">
          <app-homepage-testimonial-item></app-homepage-testimonial-item>
        </mdb-carousel-item>
      </mdb-carousel>
    </ng-template>
    <!-- Placeholder items end -->

    <!-- Carousel for Large Screens End -->

    <!-- Carousel for Small Screens -->
    <mdb-carousel
      *ngIf="
        !isFetchingTestimonials() || testimonials().length != 0;
        else smallScreenPlaceholders
      "
      class="d-lg-none carousel-dark pt-2"
      [controls]="true"
    >
      <mdb-carousel-item *ngFor="let testimonial of testimonials()">
        <div class="row d-flex justify-content-center">
          <div class="col-md-10">
            <div>
              <div class="m-3">
                <div class="row">
                  <div
                    class="col-lg-4 d-flex justify-content-center align-items-center mb-4 mb-lg-0"
                  >
                    <img
                      [src]="testimonial.userId.imageUrl"
                      class="img-fluid shadow-1"
                      alt="Reviewer photo"
                      width="200"
                      height="200"
                    />
                  </div>
                  <div class="d-flex justify-content-center">
                    <star-rating
                      class="ms-n1"
                      [readOnly]="true"
                      [starType]="'svg'"
                      [size]="'medium'"
                      [rating]="testimonial.stars"
                    ></star-rating>
                  </div>
                  <div class="col-lg-8 text-center">
                    <p class="text-muted fw-light mb-4">
                      <i class="fas fa-quote-left pe-2"></i
                      >{{ testimonial.content }}
                    </p>
                    <p class="fw-bold lead mb-2">
                      <strong> {{ testimonial.userId.name }}</strong>
                    </p>
                    <p class="fw-bold text-muted mb-0">
                      {{ testimonial.position }}
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mdb-carousel-item>
    </mdb-carousel>

    <!-- Placeholder items start -->
    <ng-template #smallScreenPlaceholders>
      <mdb-carousel class="d-lg-none carousel-dark pt-2" [controls]="true">
        <mdb-carousel-item *ngFor="let placeholder of placeholders()">
          <div
            class="row mb-5 mb-md-0 placeholder-glow d-flex justify-content-center"
          >
            <div class="col-md-10 text-center">
              <div class="d-flex justify-content-center mb-4">
                <img
                  src="../../../assets/images/placeholder/placeholder1.png"
                  class="shadow-1-strong"
                  width="200"
                  height="150"
                />
              </div>
              <p class="mb-3 placeholder col-4 placeholder-lg"></p>
              <h6 class="text-primary mb-3"></h6>

              <p class="px-xl-3 placeholder col-8"></p>
              <p class="px-xl-3 placeholder col-12"></p>
              <p class="px-xl-3 placeholder col-10"></p>
            </div>
          </div>
        </mdb-carousel-item>
      </mdb-carousel>
    </ng-template>
    <!-- Placeholder items end -->
    <!-- Carousel for Small Screens End -->
  </div>
</div>
