<div
  class="container-fluid bg-image pb-5 p-md-5 text-center text-light booking-container"
>
  <div class="container-fluid custom">
    <!-- Jumbotron -->
    <div class="mt-5 row row-cols-1 row-cols-lg-2">
      <!-- Booking Form -->
      <div class="col d-flex flex-column align-items-start text-start">
        <p class="heading-line rounded"></p>
        <p class="text-capitalize fs-4">Form to fill</p>
        <p class="fs-1 text-uppercase fw-bold mt-n3">
          Schedule an Appointment and Begin Your
          <span class="colored-text"> Learning Journey </span>
        </p>
      </div>
      <div class="col bg-light py-4 px-4">
        <app-booking-item></app-booking-item>
      </div>
    </div>
    <!-- Jumbotron -->
  </div>
</div>
