<!-- <div
  class="container-fluid bg-image pb-5 p-md-5 text-center text-light booking-container mt-5"
>
  <div class="container-fluid custom"> -->
<!-- Jumbotron -->
<!-- <div class="mt-5 row row-cols-1 row-cols-lg-2"> -->
<!-- Booking Form -->
<!-- <div class="col d-flex flex-column align-items-start text-start">
        <p class="heading-line rounded"></p>
        <p class="text-capitalize fs-4">Form to fill</p>
        <p class="fs-1 text-uppercase fw-bold mt-n3">
          Schedule an Appointment and Begin Your
          <span class="colored-text"> Learning Journey </span>
        </p>
      </div>
      <div class="col bg-light py-4 px-4">
        <app-booking-item></app-booking-item>
      </div>
    </div> -->
<!-- Jumbotron -->
<!-- </div>
</div> -->

<!-- Section: Design Block -->
<section class="mt-5">
  <!-- Jumbotron -->
  <div
    class="px-4 py-5 px-md-5 text-start"
    style="background-color: hsl(0, 0%, 96%)"
  >
    <div class="container">
      <div class="row gx-lg-5 align-items-center">
        <div class="col-lg-6 mb-5 mb-lg-0">
          <h1 class="my-5 display-3 fw-bold ls-tight">
            Schedule an Appointment and Begin Your <br />
            <span class="colored-text">Learning Journey</span>
          </h1>
          <p style="color: hsl(217, 10%, 50.8%)">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet,
            itaque accusantium odio, soluta, corrupti aliquam quibusdam tempora
            at cupiditate quis eum maiores libero veritatis? Dicta facilis sint
            aliquid ipsum atque?
          </p>
        </div>

        <div class="col-lg-6 mb-5 mb-lg-0">
          <div class="card">
            <div class="card-body py-5 px-md-5">
              <app-booking-item></app-booking-item>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Jumbotron -->
</section>
<!-- Section: Design Block -->
